*{
    box-sizing: border-box;
}

body {
    background: #ffffff; ;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1;
    margin: 1;
}

.logo{
    
    width: 100%; 
    height: 20%; 
    border: 3px solid #073540;
    text-align: center;
    align-items: center;
}

.imagenes{

    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.textologo{

    padding: 10px;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
}

.texto{
    width: 30%;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    color: #020873;
}

.titulos{
    text-align: center;
    margin-top: auto;
    color: #D90416;
}
